// Colors
$dark: #031D52;
$purple: #8565DA;
$blue: #335FB9;
$grey: #677797;
$lt-grey: #F1F5F9;
$orange: #FFA26B;
$white: #ffffff;
$dk-purple: #5141AC;
$dk-blue: #335FB9;
$red: #EF6D6D;
$green: #22B989;
$teal: #36A1BD;
