/* Typography */
body{
  font:16px/1.5 'PT Sans';
  font-weight: 300;
  color:$dark;
  overflow-x:hidden;
}
h1{
  font-size: 44px;
  line-height: 59px;
  font-weight: 300;

  &.white{
    color:$white;
  }

  span{
    font-weight: 700;
  }
  div{
    font-weight: 700;
  }
}
h2{
  font-size: 34px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;

  &.white{
    color:$white;
  }
}
h3{
  font-size: 20px;
  letter-spacing: .6px;
  line-height: 1.5;
  font-weight: 700;
}
h4{
  font-size: 14px;
  letter-spacing: 2px;
  color:$purple;
  margin-bottom: .5rem;
  text-transform: uppercase;
  font-weight: 700;
}
p{
  line-height: 1.5;
  color:$grey;

  &.white{
    color:$white;
  }
}
.col-2{
  columns:2;
  column-gap: 2rem;
}

@media only screen and (max-width: 900px) {
  h1{
    font-size: 30px;
    line-height: 1.5;
  }
  h2{
    font-size: 26px;
    letter-spacing: 0;
  }
  p{
    &.big{
      font-size: 16px;
    }
  }
}
